<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!-- Цель для логирования в файл -->
    <target xsi:type="File" name="fileTarget" fileName="Test_log.txt"
            layout="${longdate} ${level} ${message}" />

    <!-- Цель для логирования в консоль -->
    <target xsi:type="Console" name="consoleTarget"
            layout="${longdate} ${level} ${message}" />
  </targets>

  <rules>
    <!-- Правило для логирования всех сообщений уровня Trace и выше в файл и в консоль -->
    <logger name="*" minlevel="Trace" writeTo="fileTarget,consoleTarget" />

    <!-- Правило для логирования только сообщений уровня Error в файл -->
    <!--logger name="*" minlevel="Fatal" writeTo="fileTarget" /-->
  </rules>
</nlog>